# Build files and directories
# go build generates an executable with the folder/module name.
# If your executable has a fixed name, add it here.

go.sum
go.mod
.tasks/
tasks.csv
tasks
tests/

/build/
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go Modules dependencies
# The 'vendor' folder is used by the `go mod vendor` command.
# Common practice is NOT to include this folder in Git, since go.mod and go.sum
# files already define dependencies. Uncomment the line below if your team prefers to "vendor".
/vendor/

# Test files and code coverage
*.test
/coverage.out
/coverage.html

# Log files
*.log
logs/

# Local environment configuration files
.env
.env.*
!/.env.example

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# JetBrains (GoLand, IntelliJ)
.idea/

# Vim
*.swp
*~
